body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/190425160639-02-avengers-endgame-thumb-imax-poster-super-tease.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
